# ******************************************************************************
# *                                                                            *
# *                                  PBasmUI                                   *
# *                                                                            *
# *                     https://github.com/tajmone/PBasmUI                     *
# *                                                                            *
# ******************************************************************************

# ==============================================================================
#                               EXCLUSION DEFAULTS                              
# ==============================================================================
# All files that should be excluded from Git tracking based on their extensions.
# ------------------------------------------------------------------------------

## PureBASIC Configuration Files
## -----------------------------
*.pb.cfg
*.pbi.cfg
project.cfg

## Binary Files
## ------------
*.exe

## Archives
## ---------
*.zip
*.7z

# ==============================================================================
#                               CUSTOM EXCEPTIONS                               
# ==============================================================================
